@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

/* Estilos para hacer el avatar más grande */
.rcb-chat-header-container .rcb-chat-header .rcb-bot-avatar  {
  width: 40px ;
  height: 40px;

  object-fit: cover !important;
}

/* Hacer el header del chatbot más grande */
.rcb-chat-header-container{
  max-height: 66px!important;
}

/* Chat window responsive */
.rcb-window-embedded .rcb-chat-window {
  width: 375px;
}

@media screen and (min-width: 768px) {
  .rcb-window-embedded .rcb-chat-window {
    width:450px;
  }
}
.rcb-view-history-container{
  display: none !important;
}

